 input.ng-touched.ng-invalid {
     border-color: rgb(248, 170, 170);
 }
 
 div.validation-error {
     width: 100%;
     margin-top: .25rem;
     font-size: 80%;
     color: rgba(126, 71, 71, 0.933);
 }